---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Joshua Germon">
	<div class="pb-2">
		<h1 class="text-lg pb-10">Joshua Germon</h1>
    <p>Software engineer always on the hunt for the next random programming language to play with and new projects to build. Otherwise probably spending way too much time tweaking my Neovim config or saving articles I'll someday get around to reading, probably.</p>
	</div>
</Layout>
