---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Joshua Germon">
	<h1>Joshua Germon</h1>
	<p>Developer and designer experimenting with technology to create digital experiences and trying to push the boundaries of what is expected and safe.</p>
	<p>Beautiful aesthetics and thoughtful design in all forms, real life or digital, bring me happiness. Always exploring, always learning and trying to break things in the best way possible.</p>
</Layout>

<style>
	h1 {
		font-size: 1.333rem;
		margin-bottom: 2rem;
	}
</style>