---
import GlobalStyles from "./GlobalStyles.astro";
const { title = "Joshua Germon" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description"
            content="Developer and designer experimenting with technology to create digital experiences and trying to push the boundaries of what is expected and safe.">
        <title>{title}</title>
        <GlobalStyles />
        <script is:inline>
            const lightMode = localStorage.getItem('lightMode');
            const selectedTheme = localStorage.getItem('theme');
            if(lightMode === "true") {
                document.documentElement.classList.add('light');
            }
            if (selectedTheme) {
                document.documentElement.classList.add(selectedTheme);
            }
        </script>
    </head>

    <body>
        <slot />
    </body>
</html>