---
import ThemeToggle from "./ThemeToggle.svelte";
---

<footer>
    <p>Thanks for visiting</p>
    <ThemeToggle client:load />
</footer>

<style lang="scss">
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 2rem 1.5rem;
        color: rgba(var(--hover-color), 0.75);
        font-size: 0.85rem;
    }
</style>