---
import { Icon } from 'astro-icon'
---

<header>
    <button class="toggle-color-scheme icon-button" onclick="toggleColorScheme()" aria-label="Toggle Color Scheme">
        <Icon pack="lucide" name="sun" />
    </button>
    <div class="social-media">
        <a href="https://github.com/joshgermon" class="github icon-button ghost">
            <Icon pack="lucide" name="github" />
        </a>
        <a href="https://twitter.com/joshgermon" class="twitter icon-button ghost">
            <Icon pack="lucide" name="twitter" />
        </a>
        <a href="https://linkedin.com/in/joshgermon" class="linkedin icon-button ghost">
            <Icon pack="lucide" name="linkedin" />
        </a>
    </div>
</header>

<style>
    header {
        display: flex;
        justify-content: space-between;
        padding: 2rem 0;
        align-items: center;
    }
    header svg * {
        stroke: var(--body-color);
        transition: stroke 300ms ease;
    }
    .social-media {
        display: flex;
        gap: 0.5rem;
        color: var(--body-color);
    }
    .icon-button {
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 1px solid var(--border-color);
        border-radius: 4px;
        transition: background-color 300ms ease, border-color 300ms ease;
    }
    .icon-button:hover {
        background-color: var(--hover-color);
    }
    .icon-button.ghost {
        border: none;
    }
</style>
<script is:inline>
    function toggleColorScheme() {
        if(document.body.classList.contains('light')) {
            document.body.classList.remove('light');
        }else {
            document.body.classList.add('light');
        }
    }
</script>