---
import { Icon } from 'astro-icon';
const req = await fetch('https://api.spotify.com/v1/me/player/currently-playing', {
    headers: {
        Authorization:
            'Bearer BQCYNrzvTW15c4sZK0Zpw1rfNQ8yvU4Z7ahvgtxcfZBEAgtihb9BT1L8e9ymRco15jRPmNx0R8xrA6Iv16tkjgGZ_wg598pkKVYLa6zTpi7Sv1k5ooDGhL--8qG_oKF7yzHl9663cSMaPqMEQHdj5F0HY50QZAhhFSMdNGr2jnzsDs-PLQABQeSD0Oga1i_SaNIzQove2Ehz',
    },
});
const nowPlaying = await req.json();
---

<div class="now-playing">
    
    <p><Icon pack="ci" name="spotify" /> { nowPlaying.item.name ? <a href={nowPlaying.context.external_urls.spotify}>{nowPlaying.item.name} - {nowPlaying.item.artists[0].name}</a> : 'Not Playing' } </p>
</div>

<style lang="scss">
    .now-playing {
        p {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }
    }
</style>