---
import './src/styles/global.css'
import Footer from '../components/Footer.astro';
import Document from '../components/Document.astro';
import Header from '../components/Header.astro';
---

<Document>
	<Header />
	<main>
		<slot />
	</main>
	<Footer />
</Document>
