---
import Document from '../components/Document.astro'
import Header from '../components/Header.astro';
import LinkButton from '../components/LinkButton.astro';
import { Icon } from 'astro-icon';
import Footer from '../components/Footer.astro';

export interface Props {
    title: string;
}
---
<Document>
    <Header />
    <main>
        <article>
            <slot />
        </article>
        <LinkButton href="/" variant="ghost">
            <Icon name="bi:arrow-return-left" /> All Posts
        </LinkButton>
    </main>
    <Footer />
</Document>