---
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import LinkButton from '../components/LinkButton.astro';
import { Icon } from 'astro-icon';

export interface Props {
	title: string;
}

const { content } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<Head />
	<body>
		<Header />
		<main>
            <slot />
            <LinkButton href="/" variant="ghost">
                <Icon name="bi:arrow-return-left" />
                All Posts
            </LinkButton>
		</main>
	</body>
</html>
